body{
	background-color: #000;
	background-image: url(http://ufbec.org/eweek/forscience/images/gatorbg.png);
	background-repeat: repeat-x;
}

header{
	/* Just the structure of the header. */
	display: block;
	margin: 0 auto;
	padding: 25px 0;
	width: 1000px;
}

nav{
	margin: 0 auto;
	width: 1000px;
	padding: 15px 0px;
	text-align: center;
	background-color: #000;
	color: #fff;
	font-size: 18px;
}

nav	a{
	color: #fff;
	text-decoration: none;
}

#container{
	margin: 0 auto;
	width: 1000px;
	padding-top:15px;
	/* Ideally the height of the container is actually contained within the actual page. */
	background-color: #fff;
}

#content{
	float: left;
	padding: 0 15px;
	width: 465px;
	background-color: #fff;

}

footer{
	bottom: 0px;
	padding: 15px 0;
	text-align: center;
	background-color: #990000;
	color: #fff;
	width: 1000px;
	margin: 0 auto;
	border-top: 3px solid black;
}
